<section class="currentResponse">
  <h3>Response details:</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <form name="responseForm">

        <div class="form-group has-warning">
          <label class="control-label">Your response URL:</label>
          <input type="text" class="form-control"
                 value="{{currentResponse.baseUrlApp}}/{{currentResponse.APP_KEY}}/{{currentResponse.response.url}}"
                 readonly>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Name:</label>
          <input name="name" ng-model="currentResponse.response.name" type="text" class="form-control" required>
          <span ng-class="responseForm.name.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Path:</label>
          <h4 class="error" ng-show="responseForm.path.$error.requestUnique">Response exist</h4>
          <input name="path" ng-model="currentResponse.response.url" type="text" class="form-control" patch-ch="method" response-unique required>
          <span ng-class="responseForm.path.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Method:</label>
          <select name="method" ng-model="currentResponse.response.method" class="form-control" name="methodSelect"
                  id="method" required>
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
          <span ng-class="responseForm.method.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Returned HTTP Status:</label>
          <select name="status_code" ng-options="item.value as item.label for item in currentResponse.typeOfRequest"
                  ng-model="currentResponse.response.status_code" class="form-control" required></select>
          <span ng-class="responseForm.status_code.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group" ng-class="responseForm.value.$dirty && responseForm.value.$invalid ? 'has-error' : ''">
          <label class="control-label">Value:</label>
          <textarea name="value" ng-model="currentResponse.response.jsonValue" class="form-control" rows=12"
                    json-validate required>
          </textarea>
        </div>

      </form>
      <button ng-click="currentResponse.updateResponse(currentResponse.response)"
              class="btn btn-primary pull-right" >Update response </button>
      <button ng-click="currentResponse.deleteResponse(currentResponse.response.id)"
              class="btn btn-danger pull-right" >Delete response </button>
    </div>
  </div>
  </div>
</section>
