<div class="container">
  <h1>JSONMock</h1>
  <p><h4>Mock HTTP responses to test application</h4></p>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div ng-show="!home.createComplete">
        <h4>Create new application:</h4>
        <input type="text" class="form-control" placeholder="Name of application" ng-model="home.appName">
        <button ng-click="home.create(home.appName)" type="button" class="btn btn-success btn-block">Create new application</button>
        </div>
        <div class="complete" ng-show="home.createComplete">
          <h3>Create application complete!</h3>
          <h5>Your unique APP_KEY : <b>{{home.appKey}}</b></h5>
          <h5>Keep it, you will need APP_KEY to use mocked request in your Rest API and log into the application control panel.</h5>
          <h5>Now you can login, just click on the button below: "Login to application"</h5>
        </div>
        <br>
        <h4>Login to your application:</h4>
        <div ng-class="home.notMath ? 'has-error' : ''" class="form-group">
        <input  type="text" class="form-control" placeholder="APP_KEY" ng-model="home.appKey">
        <h6 ng-show="home.notMath" class="error">Wrong APP_KEY</h6>
        <button ng-click="home.login()" type="button" class="btn btn-primary btn-block">Login to application</button>
        </div>
      </div>
      <div class="col-md-6">
        <h1>JSONMock</h1>
        <h4>- mock HTTP responses</h4>
      </div>
    </div>
  </div>
</div>
