.Home {
  margin-top: 50px;
}
.alert {
  margin-top: 30px;
}

.jumbotron{
  padding-top: 10px;
}

button{
  margin-top: 5px;
}

.thumbnail{
  padding: 10px;
}
.error {
  color: red;
}

.complete{
  h3{
    color: green;
  }
}
