<section class="currentResponse">
  <h3>Create new response:</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <form name="createForm">

        <div class="form-group has-warning">
          <label class="control-label">Your response URL:</label>
          <input type="text" class="form-control"
                 value="{{createResponse.baseUrlApp}}/{{createResponse.APP_KEY}}/{{createResponse.response.name}}"
                 readonly>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Name:</label>
          <input name="name" ng-model="createResponse.response.name" type="text" class="form-control" required>
          <span ng-class="createForm.name.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Path:</label>
          <input name="path" ng-model="createResponse.response.url" type="text" class="form-control" required>
          <span ng-class="createForm.path.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Method:</label>
          <select name="method" ng-model="createResponse.response.method" class="form-control" name="methodSelect"
                  id="methodSelect" required>
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
          <span ng-class="createForm.method.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group has-feedback">
          <label class="control-label">Returned HTTP Status:</label>
          <select name="statusCode" ng-options="item.value as item.label for item in createResponse.typeOfRequest"
                  ng-model="createResponse.response.statusCode" class="form-control" required></select>
          <span ng-class="createForm.statusCode.$valid ? 'glyphicon glyphicon-ok form-control-feedback': 'glyphicon glyphicon-warning-sign form-control-feedback'"></span>
        </div>

        <div class="form-group" ng-class="createForm.value.$dirty && createForm.value.$invalid ? 'has-error' : ''">
          <label class="control-label">Value:</label>
          <textarea name="value" ng-model="createResponse.response.jsonValue" class="form-control" rows=12"
                    json-validate required>
          </textarea>
        </div>

      <button type="submit" ng-click="createForm.$valid && createResponse.createResponse(createResponse.response)"
              class="btn btn-primary pull-right">Create response
      </button>
      </form>
    </div>
  </div>
  </div>
</section>
