<div class="container">
  <div class="row">
    <!-- Logo -->
    <div class="col-xs-8">
  <h1>JSONMock</h1>
  <p><h4>Mock HTTP responses to test application</h4></p>
    </div>

    <!-- Menu -->
    <div class="col-xs-4 text-right menu">
      <div class="item">
        <h5><a href="#" ng-click="">RESPONSES</a></h5>
        <hr>
      </div>
      <div class="item">
        <h5><a href="#" ng-click="">CREATE</a></h5>
      </div>
      <div class="item">
        <h5><a href="#" ng-click="dashboard.logout()">LOGOUT</a></h5>
      </div>
    </div>
  </div>

  <div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h3>Responses in your application:</h3>
      <div class="panel panel-default" ng-repeat="response in dashboard.application.responses">
        <div ng-click="dashboard.showDetails(response.id)" class="panel-body">
           <span class="label label-primary">{{response.method}}</span>
          {{response.url}}
          <span class="pull-right">{{response.name}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="dashboard.home">
      <h3>Application details:</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <b>Application name</b><br>
          {{dashboard.application.name}}<br><br>
          <b>APP_KEY:</b><br>
          {{dashboard.application.app_key}}<br><br>
          <b>BASE_URL:</b><br>
          <h6>http://www.jsonmock.pl/app/{{dashboard.application.app_key}}</h6><br>
        </div>
      </div>
      </div>
      <div ng-show="!dashboard.home">
        <h3>Response details:</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess1">URL to your response:</label>
              <input type="text" class="form-control" id="inputSuccess1" value="http://jsonstorage.pl/app/{{dashboard.application.app_key}}/{{dashboard.response.url}}">
              <button class="btn btn-xs btn-primary pull-right" type="button">Open in new tab</button>
              <button class="btn btn-xs btn-primary pull-right" type="button">Copy</button>
            </div>
            Name:
            <input ng-model="dashboard.response.name" type="text" class="form-control">
            Path:
            <input ng-model="dashboard.response.url" type="text" class="form-control">
            Method:
            <select ng-model="dashboard.response.method" class="form-control" name="methodSelect" id="methodSelect">
              <option>GET</option>
              <option>POST</option>
              <option>PUT</option>
              <option>DELETE</option>
            </select>
            Returned HTTP Status:
            <input ng-model="dashboard.response.status_code" type="number" class="form-control">
            Response:
            <textarea class="form-control" rows=6">{{dashboard.response.value}}</textarea>
            <button type="submit" class="btn btn-primary pull-right">Update response </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
